# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Maven Build'
      'command': 'maven-build:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Maven Build'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'maven-build:toggle'
        }
      ]
    ]
  },
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Maven Build'
      'submenu': [
        {
          'label': 'Version'
          'command': 'maven-build:mavenVersion'
        }
      ]
    ]
  },
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Maven Build'
      'submenu': [
        {
          'label': 'Package'
          'command': 'maven-build:mavenPackage'
        }
      ]
    ]
  },
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Maven Build'
      'submenu': [
        {
          'label': 'Generate Simple App'
          'command': 'maven-build:mavenGenerateSimpleApp'
        }
      ]
    ]
  },
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Maven Build'
      'submenu': [
        {
          'label': 'Generate Web App'
          'command': 'maven-build:mavenGenerateWebApp'
        }
      ]
    ]
  }
]
